extends layout

block content
  if cover_art_url
    <img src=#{cover_art_url}>
  h1 #{song}
  h2 #{artist} • #{album} • #{year}
  if artist_note
    p #{artist_note}
  if album_note
    p #{album_note}
  if song_note
    p #{song_note}
