extends layout

block content
  <title>The Music Thing</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  h1=title
  if cover_art_url
    <img src=#{cover_art_url}>
  h1 #{song}
  h1 #{artist} • #{album} • #{year}
  if artist_note
    p #{artist_note}
  if album_note
    p #{album_note}
  if song_note
    p #{song_note}
